/* Couleurs personnalisées */
:root {
  --primary: #6C63FF;
  /* Violet pastel */
  --secondary: #FF6584;
  /* Rose pastel */
  --light: #F8F9FA;
  /* Gris très clair */
  --dark: #333333;
  /* Gris foncé */
  --text: #666666;
  /* Gris moyen */
}

/* Application des couleurs personnalisées à Bootstrap */
.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-light {
  color: var(--light) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: #5a52e0;
  /* Un peu plus foncé */
  border-color: #5a52e0;
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #e05a6e;
  /* Un peu plus foncé */
  border-color: #e05a6e;
}

/* Typographie */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--dark);
}

/* Hero */
.hero-image {
  background: url('../images/luz8.jpg') fixed no-repeat;
  background-position: left top;
  background-size: contain;
}